body {
  background-color: #212121;
}

.App {
  width: 100%;
  justify-content: center;
  display: flex;
}

h1 {
  font-size: 50px;
  color: #BDBDBD;
}

h2 {
  font-size: 30px;
}

.actionScreen {
  background-color: #BDBDBD;
  align-items: center;
  width: 1000px;
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 50px;
  height: 600px;
  display: flex;
}

.userFeed {
  border-radius: 20px;
  width: 500px;
  margin-top: 20px;
  
}

.userFeedWrapper {
  height: 100%;
  margin-left: 20px;
  text-align: center;
}

.logScreenWrapper {
  width: 440px;
  height: 100%;
  margin-left: 20px;
  text-align: center;
}

.logScreen {
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow-y: scroll;
  height: 500px;
}