body {
  background-color: #212121;
}

.App {
  width: 100%;
  justify-content: center;
  display: flex;
}

h1 {
  font-size: 50px;
  color: #BDBDBD;
}

.actionScreen {
  background-color: #BDBDBD;
  justify-content: center;
  align-items: center;
  width: 1000px;
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 50px;
  height: 600px;
  display: flex;
}

.userFeed {
  border-radius: 20px;
  width: 500px;
}